module.exports=` .zp137 {
    margin: 2em 0;
    display: flex;
    gap: .5em;
}

.zp137 > span,
.zp137jump {
    width: 1em;
    min-width: 1em;
    height: 1em;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
}

.zp137 > span {
    background: var(--border-color);
    border-radius: 2px;
}

.zp137active,
.zp137 > span:not(.zp137disabled):hover {
    color: white;
    background: var(--main-color) !important;
}

.zp137disabled {
    cursor: not-allowed !important;
    background: whitesmoke !important;
    color: silver;
}

.zp137jump i {
    display: none;
}

.zp137jump.prev i {
    transform: rotate(180deg);
}

.zp137jump span {
    color: silver;
}

.zp137jump:hover span {
    display: none;
}

.zp137jump:hover i {
    display: inline-flex;
}

.zp137options {
    margin-left: 16px;
}

.zp137options > div {
    display: inline-block;
    margin-left: 8px;
}

.zp137options input {
    width: 50px;
    margin: 0 5px;
    text-align: center;
}

@media only screen and (max-width: 576px) {
    .zp137options {
        display: none
    }
}
`